<div class="container">
  <%= notice.present? ? "<h6 id='notice' class='alert alert-info'>#{notice}</h6>".html_safe : '' %>

  <h1>Comments</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Content</th>
      <th>User Email</th>
      <th>Add Ratings</th>
      <th class="text-center" colspan="3">Action</th>
    </tr>
    </thead>

    <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.present? ? comment.user.email : 'No user ID' %></td>
        <td>
          <%= form_for([@topic, @post, comment, UserCommentRating.new], url: topic_post_comment_user_comment_ratings_path(comment.post.topic, comment.post, comment), remote: true) do |f| %>
            <%= f.hidden_field :comment_id, value: comment.id %>
            <div class="form-group">
              <%= f.label :value %>
              <%= f.select :value, (1..5).to_a, prompt: 'Select a rating', class: 'form-control' %>
            </div>

            <%= f.submit 'Rate Comment', class: 'btn btn-primary' %>
          <% end %>
        </td>

        <td><%= link_to 'Show', topic_post_comment_path(@topic, @post, comment), class: 'btn btn-outline-info' %></td>
        <td><%= link_to 'Edit', edit_topic_post_comment_path(@topic, @post, comment), class: 'btn btn-outline-warning' if can?(:edit, comment)&.present? %></td>
        <td><%= button_to 'Destroy', topic_post_comment_path(@topic, @post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_topic_post_comment_path(@topic, @post), class: 'btn btn-outline-success' %>
  <%= link_to 'Back', topic_post_path(@topic, @post), class: 'btn btn-outline-secondary' %>
</div>
