
<div class="container">
  <%= notice.present? ? "<h6 id='notice' class='alert alert-info'>#{notice}</h6>".html_safe : '' %>
  <h1 class="mt-4 mb-4">Topics</h1>

  <table class="table">
    <thead>
    <tr>
      <th><h4>Title</h4></th>
      <th class="text-center" colspan="3"><h4>Actions</h4></th>
    </tr>
    </thead>

    <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><strong><%= topic.title %></strong></td>
        <td class="text-center" colspan="3">
          <%= link_to 'Show', topic, class: 'btn btn-outline-primary btn-sm me-5' %>
          <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-outline-secondary btn-sm me-5' %>
          <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Topic', new_topic_path, class: 'btn btn-outline-success' %>
  <%= link_to 'Back to home',root_path, class: 'btn btn-outline-secondary' %>
</div>
